@media screen and (max-resolution: 192gpi) and (min-width: 1158px),
  screen and (max-resolution: 2dppx) and (min-width: 1158px),
  screen and (max-devise-pixel-ratio: 2) and (min-width: 1158px) {
  .title-hero {
    background-image: url("../../images/people-office-desktop@2x.jpg");
  }
}

@media screen and (max-resolution: 192gpi) and (min-width: 768px),
  screen and (max-resolution: 2dppx) and (min-width: 768px),
  screen and (max-devise-pixel-ratio: 2) and (min-width: 768px) {
  .title-hero {
    background-image: url("../../images/dark-tabl@2x.jpg");
  }
}

@media screen and (max-resolution: 192gpi) and (max-width: 767px),
  screen and (max-resolution: 2dppx) and (max-width: 767px),
  screen and (max-devise-pixel-ratio: 2) and (max-width: 767px) {
  .title-hero {
    background-image: url("../../images/dark-mobil@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .title-hero {
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/dark-mobil.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .title-container {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .title {
    max-width: 190px;
    height: 160px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .button {
    display: block;
    padding: 16px 32px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
  }
  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 768px) {
  .title-hero {
    max-width: 767px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-size: 320px 432px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/dark-tabl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title-container {
    padding-top: 112px;
    padding-bottom: 112px;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .title {
    max-width: 496px;
    color: var(--white, #fff);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
  .button {
    display: block;
    min-width: 169px;
    min-width: 169px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: none;
    background: var(--iris, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: var(--white, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .title-hero {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    flex-shrink: 0;
    background: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../../images/people.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .title {
    max-width: 496px;
    color: var(--white, #fff);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }

  .button {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background: var(--iris, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: var(--white, #fff);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}
